$primary-color: #11467f;
$secondary-color: #f9af3b;
$border-color: #cfdae5;
$white: #ffffff;

$title-size-font: 90px;
$card-padding: 15px;

$skill-color: (
  man: (
    color: #ff3939
  ),
  ful: (
    color: lighten($primary-color, 20%)
  ),
  des: (
    color: $secondary-color
  )
);

$breakpoints: (
  mobile: 576px,
  tablet: 768px,
  laptop: 992px,
  desktop: 1200px
);
