@mixin responsive-over($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint) + 1) {
    @content;
  }
}

@mixin responsive-under($breakpoint) {
  @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin flex($direction) {
  display: flex;
  @if ($direction == "column") {
    flex-direction: column;
  }
  flex-wrap: wrap;
}

@mixin bloc($background-color) {
  background-color: $background-color;
  padding: 3%;

  &__title {
    text-align: center;
    font-size: $title-size-font;
    margin: 0 0 20px 0;
    font-family: Woodchuck-Regular;
    letter-spacing: 3px;
    @if ($background-color == $primary-color) {
      color: $white;
    } @else {
      color: $primary-color;
    }
    @include responsive-under(mobile) {
      font-size: 60px;
    }
  }
}

@mixin bordered-box {
  border: $border-size solid $border-color;
  border-radius: 17px;
  background-color: $white;
  transition: transform ease-in-out 400ms;
  backface-visibility: hidden;
  &:hover {
    transform: scale(1.04);
  }
}

@mixin information-card {
  &__title {
    font-size: 19px;
    font-weight: bold;
    color: $primary-color;
  }

  &__information {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 0;
  }

  &__location {
    color: darken($secondary-color, 12%);
    font-weight: 600;
  }

  &__date {
    color: #757575;
  }
}

@mixin skill-color($colors) {
  @each $state, $color in $colors {
    &--#{$state} {
      color: map-get($color, color);
    }
  }
}

@mixin circle {
  background-color: $white;
  border: $border-size solid $border-color;
  width: $circle-size;
  height: $circle-size;
  border-radius: $circle-size / 2;
  display: block;
  position: absolute;
  margin-top: -$circle-size / 2;
}

@mixin array($array-size, $array-color, $array-direction) {
  content: "";
  position: absolute;
  @if ($array-direction == left) {
    border-right: solid $array-size $array-color;
    border-top: solid $array-size transparent;
    border-bottom: solid $array-size transparent;
    margin-top: -$array-size;
  }
  @if ($array-direction == bottom) {
    border-top: solid $array-size $array-color;
    border-left: solid $array-size transparent;
    border-right: solid $array-size transparent;
    margin-left: -$array-size;
  }
}
